<!-- Loading in some scripts here -->
<script src="{{ site.baseUrl }}/lib/jquery-3.2.0.min.js"></script>
<script src="{{ site.baseUrl }}/lib/instafeed.js"></script>
<script src="{{ site.baseUrl }}/js/main.js"></script>

<div class="footer-container">
  <div class="footer-social">
    <a href="{{ site.social.Instagram }}">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <div class="text-center">&#0169; Shakti Rajpurohit</div>
  </div>
</div>
